{% extends "base.html" %}

{% block content %}
  <div class="row">
    {% include 'pagination.html' %}

    {% if query != '' %}
      <h2 class="sub-header">{{numresults}} search results for '{{query}}'
      <a href="?q={{query}}&p={{page}}&f=hostlist"> [hostlist]</a></h2>
    {% else %}
      <h2 class="sub-header">{{numresults}} vulnerable contracts</h2>
    {% endif %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for host in hosts %}
            <tr>
              <td>
                <h3><a href="https://etherscan.io/block/{{ host.block }}">{{ host.block }}</a></h3><br>
              </td>
              <td>
                  {% set lines = host.data.split('\n') %}
                  {% if lines|length > g.preview_length %}
                    {% set nmap_preview = [] %}
                    {% for line in lines %}
                      {% if loop.index <= g.preview_length %}
                        {% do nmap_preview.append(line) %}
                      {% endif %}
                    {% endfor %}
                    <pre class="nmap_data">{{ nmap_preview|join('\n') }}</pre>
                    <a class="preview_link" href="host?h={{ host.bloblock }}"><div class="preview_nmap">Click here to see the complete results for {{ host.block }}</div></a>
                  {% else %}
                    <pre class="nmap_data">{{ host.data }}</pre>
                  {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include 'pagination.html' %}
  </div>
{% endblock %}
